[2018-12-11 20:01] gr2m opened #2 ""content_reference" event is missing"
I left this one out on purpose to check the nightly cron job setup. If everything works out as planned, then travis & our octokitbot should create a pull request tonight adding the content_reference event.

[2018-12-11 20:11] gr2m opened #3 ""ping" event is missing"
See https://developer.github.com/webhooks/#ping-event, it is currently not listed on https://developer.github.com/v3/activity/events/types

[2018-12-11 20:23] gr2m opened #4 "Missing / wrong actions"
- [x] `created` action is missing for [`commit_comment`](https://developer.github.com/v3/activity/events/types/#commitcommentevent) event, it is not listed in the Events API payload table
- [x] `added`, `deleted` and `edited` actions are missing for [`member `](https://developer.github.com/v3/activity/events/types/#memberevent) event, the actions are listed in the Events API payload table but not

[2018-12-11 20:55] gr2m opened #5 "obsolete events"
- `download`: https://developer.github.com/v3/activity/events/types/#downloadevent
- `follow`: https://developer.github.com/v3/activity/events/types/#followevent
- `fork_apply`: https://developer.github.com/v3/activity/events/types/#forkapplyevent
- `gist`: https://developer.github.com/v3/activity/events/types/#gistevent

[2018-12-11 21:13] #5 closed

[2018-12-11 21:21] gr2m commented on #3
I just tested it for GitHub Apps and a "ping" event is indeed being sent:

[code]

It’s not sent when an app is updated

[2018-12-11 21:49] #3 closed

[2018-12-11 22:39] #4 closed

[2018-12-11 23:03] gr2m opened #9 ""synchronize" action is missing for "pull_request""

[2018-12-11 23:25] gr2m opened #11 "RepositoryDispatch event is missing"
See https://developer.github.com/actions/creating-workflows/triggering-a-repositorydispatch-webhook/

This one is special, because the actions are user-defined, so I’m not sure how we would add it to our definitions, maybe with a new flag like `.hasCustomActions`

[2018-12-12 00:17] gr2m opened #12 "Add URL of documentation on docs.github.com/webhooks"
It would be useful for when generating docs such as https://github.com/octokit/webhooks.js#webhook-events. Not all events are listed on https://developer.github.com/v3/activity/events/types/#checkrunevent, `ping` and `repository_dispatch` are documented in other places

[2018-12-12 00:18] #9 closed

[2019-02-16 07:44] brunolemos opened #14 "Wrong installation_repositories type definition"
https://github.com/octokit/webhooks.js/issues/59

[code]

[2019-02-16 23:07] gr2m commented on #14
@brunolemos this repository does not have any type definitions, only a JSON representation of what you see at https://developer.github.com/v3/activity/events/types/

I think octokit/webhooks.js#59 would be the better place to discuss?

[2019-02-16 23:11] wolfy1339 commented on #14
Unfortunately, the `repositories_added` property can't be more explicit than that. It's a limitation, if it's not in the docs, it's not properly typed.

As for the rest of the diff, as @gr2m said, this discussion should probably be moved to
https://github.com/octokit/webhooks.js/issues/59

[2019-02-17 01:58] #14 closed

[2019-05-13 04:15] greenkeeper[bot] opened #20 "An in-range update of yargs is breaking the build 🚨"
## The devDependency [yargs](https://github.com/yargs/yargs) was updated from `13.2.2` to `13.2.4`.

🚨 [View failing branch](https://github.com/octokit/webhooks/compare/master...octokit:greenkeeper%2Fyargs-13.2.4).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

yargs is a devDependency of this project. It **might not brea

[2019-05-13 15:25] #20 closed

[2019-05-17 23:57] #2 closed

[2019-05-21 15:37] gr2m opened #25 "scrape and export GitHub Enterprise versions of webhooks"
`https://developer.github.com/enterprise/<GHE version>/v3/activity/events/types/`,
e.g. https://developer.github.com/enterprise/2.16/v3/activity/events/types/

[2019-06-19 19:08] JasonEtco opened #28 "Include webhook event descriptions"
Followup from https://github.com/octokit/webhooks.js/issues/86, it'd be really cool to include webhook event descriptions:

<img width="774" alt="image" src="https://user-images.githubusercontent.com/10660468/59793120-c5f4f380-92a3-11e9-88f3-406ca23992a8.png">

So the block of text below **OrgBlockEvent** in this example. Those can vary pretty widely, here's a different example of the same text:

[2019-09-25 20:48] btorresgil opened #43 "Schema is missing payload contents"
In the generated schema there is only `name`, `actions`, and `examples`. The **payload** of the webhook is not pulled from the documentation.  This results in major consequences down the chain as [webhooks.js](https://github.com/octokit/webhooks.js) is derived from this, as is all the [TypeScript typings](https://github.com/octokit/webhooks.js/blob/master/index.d.ts) for the webhooks.

This means

[2019-09-25 20:58] btorresgil commented on #43
Also created issue octokit/webhooks.js#94 which depends on this issue.

[2019-09-25 21:13] gr2m commented on #43
The examples are payload examples and the Typescript definitions are later derived from these. Ideally we would have JSON Schema specifications for each webhook event but that's not happening anytime soon.

They payloads look different for different cases, sometime keys are included and sometimes not. The best we can do is to kindly ask support@github.com to extend the respective payload example.

[2019-09-25 21:14] gr2m commented on #43
Another thing we could do is to derive a JSON Schema from the payload tables as you suggest and publish these next to the examples. I'd happily accept a pull request

[2019-10-18 23:49] greenkeeper[bot] opened #45 "An in-range update of semantic-release is breaking the build 🚨"
## The devDependency [semantic-release](https://github.com/semantic-release/semantic-release) was updated from `15.13.26` to `15.13.27`.

🚨 [View failing branch](https://github.com/octokit/webhooks/compare/master...octokit:greenkeeper%2Fsemantic-release-15.13.27).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

semantic-re

[2019-10-19 04:59] #45 closed

[2020-05-04 20:12] zeke commented on #25
Pairing on this with @gr2m today. Things we need:

- [ ] Track current enterprise version (in cache maybe)
- [ ] Enterprise payload-examples for GHE from @rachmari
- [ ] Export JSON files for each enterprise version

We should be able to roll this out as a feature (non-breaking change) that adds additional exports.

[2020-05-04 20:15] zeke commented on #25
Prior art from octokit/routes: https://github.com/octokit/routes/blob/master/bin/octokit-rest-routes.js#L11-L15

[code]

[2020-05-04 20:26] zeke opened #88 "remove leftover references to Travis CI"
This project used to use Travis CI cron, but now uses GitHub Actions. There are some leftover references to Travis in the docs that should be updated.

[2020-05-04 20:28] zeke opened #89 "extract event descriptions"
Let's update the [section-to-webhook](https://github.com/octokit/webhooks/blob/40ceb12f15d74be4d0274028b5ad28aceb1ede77/lib/section-to-webhook.js#L17) to also extract webhook descriptions.

Example: https://developer.github.com/v3/activity/events/types/#checksuiteevent

![Screen Shot 2020-05-04 at 1 27 25 PM](https://user-images.githubusercontent.com/2289/81010442-2bde6100-8e0b-11ea-91d4-7d0b00645

[2020-05-04 20:29] zeke opened #90 "create tests"
We're going to be introducing some changes to this module soon, namely adding GHE support in #25

Before we do that, let's add some basic to tests for the exported module object, to ensure that we don't accidentally break it with any future updates.

[2020-05-05 17:59] #90 closed

[2020-05-05 22:18] oscard0m opened #92 "scrape payloads from Github API documentation"
## Context
There are some examples of payloads on Github API Docs which are not matching (missing fields mostly) with the table and the real payload delivered by Github Events, so the script used in this repo to update the definitions is not covering  all of the cases.

Issues related to this topic:
https://github.com/octokit/webhooks/issues/43
https://github.com/octokit/webhooks.js/issues/87
http

[2020-05-05 22:41] gr2m commented on #92
To be clear, I would not replace the current way of deriving the definitions using the examples, but I would merge the current implementation with parsing the API payload tables

[2020-05-05 23:12] dominguezcelada commented on #92
Has sense to me

[2020-05-06 22:13] gr2m commented on #11
RepositoryDispatch event is no longer missing

[2020-05-06 22:13] #11 closed

[2020-05-11 21:58] zeke commented on #89
Turns out this is a duplicate of https://github.com/octokit/webhooks/issues/28 so I'll close this.

Hi @jasonetco! 👋

[2020-05-11 21:58] #89 closed

[2020-05-14 20:44] zeke commented on #28
Resolved by https://github.com/octokit/webhooks/pull/98 ⚡

[2020-05-14 20:44] #28 closed

[2020-05-16 05:28] zeke commented on #92
I plan to work on this next week.

cc @chiedo

[2020-05-16 05:33] zeke commented on #25
I plan to work on this next week.

cc @chiedo

[2020-05-16 05:35] zeke commented on #25
Note: This page recently moved to https://developer.github.com/webhooks/event-payloads/

See https://github.com/github/internal-developer.github.com/pull/6352

[2020-05-16 09:55] dominguezcelada commented on #92
If you need assistance on that let me know :)

[2020-05-17 16:04] gr2m commented on #25
I'll take care of moving to the new page

[2020-05-19 19:05] zeke commented on #25
Update: I will not be working on this issue this week after all. We are initially going to migrate the https://developer.github.com/webhooks/event-payloads/ page to the help.github.com as-is, and we will revisit the effort to scrape this content into a structured format at a later date.

[2020-05-19 19:06] zeke commented on #92
Update: I will not be working on this issue this week after all. We are initially going to migrate the https://developer.github.com/webhooks/event-payloads/ page to the help.github.com as-is, and we will revisit the effort to scrape this content into a structured format at a later date.

[2020-05-22 17:17] github-actions[bot] opened #109 "The automated release is failing 🚨"
## :rotating_light: The automated release from the `master` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you c

[2020-05-28 16:53] gr2m commented on #109
failed due to recent outage

[2020-05-28 16:53] #109 closed

[2020-07-03 23:04] dominguezcelada opened #126 "To start scraping docs.github.com"
https://developer.github.com/webhooks/event-payloads/ is no more

<img width="1000" alt="image" src="https://user-images.githubusercontent.com/39992/86278971-188f0e00-bb8e-11ea-8a92-584edcfefd85.png">

We must update our scraper to get its data from https://docs.github.com/en/developers/webhooks-and-events/webhook-events-and-payloads instead.

_Originally posted by @gr2m in https://github.com/octo

[2020-07-08 19:50] gr2m commented on #126
Would you like to work on this?

[2020-07-10 07:27] dominguezcelada commented on #126
Yes! Let me draft a PR on this! :)

[2020-07-13 20:50] gr2m commented on #126
As part of the PR, make sure to re-enable the cron schedule trigger:
https://github.com/octokit/webhooks/blob/e8a5524415ea229b06182a4f6f4a6c7215e3b25c/.github/workflows/update.yml#L2-L4

[2020-07-28 00:14] #126 closed

[2020-07-31 19:35] heuels opened #136 "Create a JSON Schema for webhook events"
Following the discussion in octokit/webhooks.js#171 the plan is to manually create a JSON Schema of webhook events.

As a first step I will bootstrap the schema by feeding the examples through some generator tool (I have my eyes on https://jsonschema.net/ now, but I haven't tried it yet). The second step would take manually correcting the definitions and converting them to enums as needed.

And fi

[2020-07-31 19:42] gr2m commented on #136
Sounds like a great plan! Thanks Egor for taking this on!

[2020-08-02 18:43] gr2m commented on #136
Another way to improve the initial JSON Schemas would be to not only parse the examples but also the "Webhook payload object" tables from the docs, e.g. https://docs.github.com/en/developers/webhooks-and-events/webhook-events-and-payloads#webhook-payload-object

[2020-08-03 09:53] dominguezcelada opened #138 "WebHookPayloadPullRequest.installation is missing from typings"
From: https://github.com/octokit/webhooks.js/issues/176

[2020-08-03 16:06] #138 closed

[2020-08-09 18:28] dominguezcelada opened #140 "Replace "debug" with "log" constructor option"
We don't use the `debug` package in any other Octokit module. Instead we use a `console`-compatible `log` API, and users can pass their own `log` object, see https://github.com/octokit/core.js#logging

More info here: https://github.com/octokit/webhooks.js/issues/186

[2020-08-13 11:19] vlsi opened #141 "Please document `on: schedule` event payload"
From what I see the schedule event contains just a single field with the schedule itself, however, it is not documented.

[2020-08-13 20:57] gr2m commented on #141
Thanks Vladimir for bringing this to our attention. We currently include all events that are documented on this page:
https://docs.github.com/en/developers/webhooks-and-events/webhook-events-and-payloads

The `schedule` event is currently not documented, because it's not a webhook that is sent to external servers via http, it is an internal event used exclusively for GItHub Actions. That being sai

[2020-08-23 09:12] dominguezcelada opened #152 "Migrate @octokit/webhooks-definitions to Typescript"

[2020-08-25 19:37] gr2m opened #155 "Only cache the HTML content of `#article-contents`"
We get a lot of false positive Pull Request with cache updates that we don't care about.

The reason for that is that we cache the entire HTML response. What I would suggest we do instead is

1. Only cache the content of the `#article-contents` div (compare https://github.com/octokit/app-permissions/blob/28a98e3bd60e2588715270742822e765f73033b7/scripts/update.js#L20-L24)
2. Format the HTML before

[2020-08-25 19:51] dominguezcelada commented on #152
https://github.com/octokit/webhooks/pull/151#issuecomment-680231158

[2020-08-25 19:51] #152 closed

[2020-09-08 22:05] gr2m commented on #136
Hey @heuels, just checking in, are you still working on this? No rush, just want to free up the issue for others to work on in case you can't yourself

[2020-09-09 05:02] heuels commented on #136
Hey! Sorry for the lack of updates for a while. I'm still working on this, although rather slowly. I hope to open a PR in a couple of weeks.

[2020-09-09 18:28] gr2m commented on #136
Great, thanks for the update. Let us know if you run into any questions or blockers

[2020-09-10 17:49] gr2m commented on #140
Actually I don't mind using `debug` in this repository, because it's not a library that is used at runtime, but a CLI tool that creates static artifacts. `debug` is great for that, because it's fully controllable using envriontment variables. If a build in CI fails, we can change the `debug` environment variable and re-run the same build

[2020-09-10 17:49] #140 closed

[2020-09-15 23:08] #88 closed

[2020-09-16 05:02] zeke commented on #88
Nice! Sorry I never got around to that one! 😅

[2020-09-18 18:32] #155 closed

[2020-09-29 19:54] gwestersf commented on #136
Superseded by https://github.com/github/ecosystem-api/issues/2121

[2020-10-07 19:20] heuels commented on #136
Hey @gr2m, I've opened a pull request #186 with JSON schemas for every payload type and made sure that all payloads pass validation. Could you please take a look at that and maybe we could figure out next steps there?

[2020-10-07 19:22] gr2m commented on #136
Thanks Egor, that's great! I'll have a look on Monday

[2020-10-12 16:12] dominguezcelada opened #191 "add ISSUE_TEMPLATES to repository"

[2020-10-12 17:46] #191 closed

[2020-10-13 23:19] dominguezcelada opened #196 "🐛 Bug: Wrong folder name for ISSUE_TEMPLATEs"
**What happened?**
When trying to create a new issue, the issue template selector is not appearing

**What did you expect to happen?**
To be able to select an Issue Template

**What the problem might be**
~`.github/ISSUE_TEMPLATES/`~ ➡️ `.github/ISSUE_TEMPLATE/`

[2020-10-13 23:22] dominguezcelada opened #198 "Add support for optional parameter `installation` for Webhook Payloads missing it"
Context here: https://github.com/octokit/webhooks.js/issues/266

[2020-10-13 23:56] gr2m commented on #196
resolved via https://github.com/octokit/webhooks/pull/197

[2020-10-13 23:56] #196 closed

[2020-10-14 05:54] #198 closed

[2020-12-06 00:23] G-Rath commented on #3
@gr2m the `ping` event is currently the "repository" version, but there is an "organisation" version.

Would you like me to open a new issue for this? (this has the downstream effect of meaning `webhooks.js` types the ping payload as requiring the `repository` property).

[2020-12-06 07:13] gr2m commented on #3
can you add an example of an org ping event payload to https://github.com/octokit/webhooks/tree/master/payload-examples/api.github.com? That should fix it

[2020-12-06 18:08] G-Rath commented on #3
@gr2m done via #225

[2020-12-12 00:03] G-Rath opened #229 "Missing examples of code_scanning_alert payloads with "sender""
According to the [docs](https://docs.github.com/en/free-pro-team@latest/developers/webhooks-and-events/webhook-events-and-payloads#code_scanning_alert), when the action is `reopened_by_user` or `closed_by_user`, the payload for `code_scanning_alert` will have a `sender` property.

Since there are no examples of these actions, the types generated in `webhooks.js` doesn't have `sender` at all.

I'm

[2020-12-12 00:40] gr2m commented on #229
I asked for help from GitHub

[2020-12-12 18:21] G-Rath commented on #229
@gr2m cheers! Are you happy for me to open new issues for any others I find like this?

[2020-12-12 20:06] gr2m commented on #229
absolutely, please do! Ideally we can add payload examples for all of them, which will help us with creating a complete schema via https://github.com/octokit/webhooks/pull/186

[2020-12-14 13:13] marcogario commented on #229
:wave: The `sender` field is not specific to code scanning, but it appears in all webhooks. https://docs.github.com/en/free-pro-team@latest/developers/webhooks-and-events/webhook-events-and-payloads#webhook-payload-object-common-properties

Nevertheless, here is an example of a full response for the `closed_by_user` event. Note that the `dismissed_by` identifier the actor that dismissed the alert:

[2020-12-15 22:55] G-Rath commented on #229
In that case, the examples for `reopened` are incomplete as they're missing the `sender` field.

[2020-12-23 19:03] wolfy1339 opened #237 "Missing example payloads without installation key for multiple events"
Multiple event payload examples, contain the `installation` key while not having an example without that key.

Ex. `pull_request.closed` had no example payload that didn't contain the installation key, and such the generated schemas for that event in #186 are wrong.

[2020-12-28 17:57] wolfy1339 opened #240 "Missing 'converted_to_draft' and 'ready_for_review' actions on `pull_request` event"
This is the reverse of the `ready_for_review` action that is already supported - triggered when a pull request is converted to a draft.

Github documentation has this as [convert_to_draft](https://docs.github.com/en/free-pro-team@latest/developers/webhooks-and-events/issue-event-types#convert_to_draft), but the actual payload contains `converted_to_draft`:

<img width="814" alt="Screen Shot 2020-1

[2021-01-01 05:06] recurser commented on #240
Thanks @wolfy1339 🙇  I've got a PR in review to fix the documentation: https://github.com/github/docs/pull/2417 - I'm hoping that may automatically end up back here in `octokit/webhooks` once it gets merged?

[2021-01-01 05:18] wolfy1339 commented on #240
That's partly correct. We do scrape the github docs and update the cache in repo.

We rely on examples of different payloads in order to generate the typescrypt types from them.

[2021-01-02 17:18] wolfy1339 commented on #240
It seems we are also missing `ready_for_review`. I'm going to include that in the issue as well

[2021-01-03 21:58] #240 closed

[2021-01-06 22:44] #136 closed

[2021-01-07 19:10] wolfy1339 opened #250 "False-positives for missing schemas when an error occurs during schema validation"
**What happened?**

Running `node bin/validate-payload-examples.js` with a typo in the path to a common schema throws an error that is then falsely logged as missing schema

**What did you expect to happen?**

For the logged error message to match the actual error thrown in the code

**What the problem might be**
Instead of sending an error message related to the actual error, we swallow the error

[2021-01-07 19:46] wolfy1339 commented on #43
This should be resolved by #186

[2021-01-07 20:51] gr2m commented on #43
I think so, too. Please let us know if the problem persists

[2021-01-07 20:51] #43 closed

[2021-01-10 20:14] wolfy1339 opened #257 "Add automatic schema updating"
**What’s missing?**

Automatic schema updating whenever a payload doesn't match the schema

**Why?**

Currently, we are manually checking each webhook sent, and checking the details of why it failed validation and editing the appropriate schemas with the changes needed to make the validation pass.

**Alternatives you tried**

N/A

It will be a lot of hard work, but I think it will pay off

[2021-01-11 18:23] marcosnc opened #258 "The `content_url` property is not available in `project_card`"
The object `WebhookPayloadProjectCardProjectCard` does not contain a property for `content_url` so it's not possible to identify which issue is referenced by the project card.

It seems that the information is not available in the Webhooks project, I think it's because the moved card [schema](https://github.com/octokit/webhooks/blob/master/payload-schemas/schemas/project_card/moved.schema.json) is

[2021-01-11 18:29] wolfy1339 commented on #258
Thanks for bringing this to our attention!
Do you mind sharing an example webhook payload?
We will look into updating the schemas as soon as we can.

[2021-01-11 19:32] #258 closed

[2021-01-13 22:59] oscard0m opened #266 "Use GitHub's OpenAPI spec as source of truth for generating schemas"
The [openapi spec](https://github.com/github/rest-api-description) for the rest api shares a lot of properties with these shemas.
Later on, we could try and use it as the source of truth where possible.

_Originally posted by @wolfy1339 in https://github.com/octokit/webhooks/issues/264#issuecomment-759701042_

[2021-01-14 19:46] #250 closed

[2021-01-16 03:56] wolfy1339 opened #289 "Removal of `integration_installation_repositories`"
Should we remove `integration_installation_repositories` since it's deprecated and no longer sent since October 2020?

[2021-01-17 03:02] wolfy1339 opened #301 "Missing payload examples"
## Payload examples
- [ ] `code_scanning_alert.appeared_in_branch`
- [x] `code_scanning_alert.closed_by_user`
- [x] `code_scanning_alert.created`
- [x] `code_scanning_alert.fixed`
- [ ] `code_scanning_alert.reopened_by_user`
- [x] `deploy_key.deleted`
- [x] `deployment.created`
- [x] `deployment_status.created`
- [x] `installation.suspend`
- [x] `installation.unsuspend`
- [x] #577
- [x] `issues.de

[2021-01-20 09:31] oscard0m opened #312 "Refactor proposal: To `issue` property in issue schemas from a common schema"
**What’s missing?**

From
<details>
<summary>
issue_commented/created.schema.json

[code]

</summary>

[code]

</details>

To

<details>
<summary>
issue_commented/created.schema.json

[code]

</summary>

[code]

</details>

**Why?**
Centralize schema properties and avoid code repetition.

@wolfy1339 @G-Rath not sure if this would be correct. If you think has sense I would be happy to jump on this

[2021-01-20 10:01] G-Rath commented on #312
Are you proposing creating a new `common` schema?

That's fine with me - I've got two scripts for doing that: `extract-common-schema` & `ref-common-schemas`.

The first takes a path to a property on an interface and the name you want to give the interface for that common interface, and figures out how to extract the schema.

The second then goes through all the schemas and compared each property +

[2021-01-20 10:11] oscard0m commented on #312
I will go into those scripts. Thanks @G-Rath ❤️

[2021-01-20 10:13] oscard0m opened #313 "Programatically PR new common Schemas"
Still have to take a look into @G-Rath scripts but, would have sense to run those scripts programmatically and open a PR for each common schema change proposal instead of spotting them during our developments?

Has sense what I'm asking? Would it be feasible? @G-Rath @wolfy1339

---

Are you proposing creating a new `common` schema?

That's fine with me - I've got two scripts for doing that: `extr

[2021-01-20 10:16] G-Rath commented on #313
I don't think it will be feasible - there are a lot of different common schemas you could make, and some make more sense then others due to property differences

i.e `label` exists both as an object that requires all properties and as all properties being partial. You'd need to put about the same amount of work reviewing the programmatically generated PRs both individually and as a group as you wo

[2021-01-20 17:27] gr2m opened #314 "Add comment description to "extract-common-schema" script"
@G-Rath would you mind adding a few lines to the top of [`/bin/extract-common-schema.ts`](https://github.com/octokit/webhooks/blob/master/bin/extract-common-schema.ts) describing what the script does and how it works? No need to go into much detail, just to give a quick overview

[2021-01-20 20:58] #289 closed

[2021-01-22 01:59] renovate[bot] opened #315 "Dependency Dashboard"
This issue contains a list of Renovate updates and their statuses.

## Awaiting Schedule

These updates are awaiting their schedule. Click on a checkbox to get an update now.
 - [ ] build(deps): lock file maintenance

---

- [ ] Check this box to trigger a request for Renovate to run again on this repository

[2021-01-23 23:00] oscard0m opened #318 "To check "Dismiss stale pull request approvals when new commits are pushed""
**What’s missing?**
To check "Dismiss stale pull request approvals when new commits are pushed" (https://docs.github.com/en/github/administering-a-repository/managing-a-branch-protection-rule#creating-a-branch-protection-rule)

**Why?**
To require review of a PR if it has changed since last approval.
**Example:** https://github.com/octokit/webhooks/pull/317

[2021-01-24 00:14] G-Rath commented on #318
Do we have to have this? I understand the advantages, but it comes at the disadvantage of potentially slowing things down i.e if I have a PR open that I'm about to merge, but something else gets merged that requires me to rebase, I now have to get a reapproval even if nothing's changed (say because if it was a `package-lock.json` "conflict").

We can dismiss peoples reviews, which'll block PRs fro

[2021-01-24 00:29] oscard0m commented on #318
I see your point. For sure it's super pleasant to merge and release code super fast. It's super grateful.

I just wanted to prevent merging code which should be human-reviewed and CI checks are not able to spot (architecture or potential breaking changes introduced). Since we work with releases I think it's important to not mess up with users.

Maybe we can rely on contributor's responsibility of

[2021-01-24 19:08] G-Rath commented on #318
That sounds like a good way to go to me :)

[2021-01-24 20:12] #318 closed

[2021-01-31 20:04] #314 closed

[2021-02-07 20:42] oscard0m opened #362 "Moving `index.json` to a different package"
**What’s missing?**
Would be nice to not pack examples when publishing this package.

**Why?**
Avoid extra package size

Context: https://github.com/octokit/webhooks.js/pull/439#issuecomment-774753218

[2021-02-07 20:43] oscard0m commented on #362
A scenario coming to my mind which could be worrying is `probot` used in lambda functions (where the size very limited for serverless)

[2021-02-07 20:43] G-Rath commented on #362
You beat me to it 😅 I'll paste my issue body here :)

[2021-02-07 20:44] wolfy1339 commented on #362
Perhaps the package name of `@octokit/webhooks-examples` would be good for this?

[2021-02-07 20:44] G-Rath commented on #362
The payloads are *big*, and make up the majority of the published package:

[code]

They were originally being shipped to power type generation, which is now obsolete as we're shipping JSON schemas and generating more accurate types from those.

Since these types are being used in types that are published in downstream packages, we're wanting to include this package as a production dependenecy mea

[2021-02-07 20:45] G-Rath commented on #362
For sure - `serverless` in general; i.e [`compare-gh-webhook-to-schema`](https://github.com/G-Rath/compare-gh-webhook-to-schema-function) will have the whole package in production right now (I've not yet configured the exclude to strip it out)

[2021-02-07 20:47] wolfy1339 commented on #362
For whenever we get around to doing this, we can spin out the payload examples directory into another repo while saving their git history using [this technique](https://medium.com/@ayushya/move-directory-from-one-repository-to-another-preserving-git-history-d210fa049d4b)

[2021-02-07 20:48] gr2m commented on #362
For context: https://github.com/octokit/webhooks/ was not meant to be a production dependency, similar to https://github.com/octokit/openapi. Moving the examples out of the repository will make it harder to contribute. I really the fact that anyone can just submit a payload example as a means to reproduce a problem with the current schemas.

And if we are considering to move out the examples, why

[2021-02-07 20:52] G-Rath commented on #362
I think there are two things here: publishing them in *this* package, and publishing them in *a* package - I actually think we should focus on the latter before the former, since as you've said there is a very nice flow in having the payloads in this repo which I think we could only keep if we moved to a mono-repo if we want to publish a separate package.

-----

In my case, this won't solve the p

[2021-02-07 21:04] gr2m commented on #362
I'm not a fan of mono-repos for many reasons, but in this case we could publish dependency-free packages with just the types and one one with just the schema which should be much easier ... the packages we would publish would only differ in

1. package name
2. published files

The release version, release notes, etc, could be exactly the same?

[2021-02-07 21:13] G-Rath commented on #362
Sure - I think that could go wrong in a few ways, but overall the contents of this repo mean if it did the actual end result wouldn't be horrible.

I'll point out that it feels to me like a mono-repo without the tooling, but I'm neutral on monorepos so I'm happy to go with what you'd prefer :)

My main question that that comment stems from is how do we handle versioning? I think for semantic-relea

[2021-02-07 22:25] gr2m commented on #362
yes, definitely.

sounds good to me.

I just remembered another difference. A package should have a `"main"` export, even if we just publish typescript, in order to avoid what happened here: https://github.com/gr2m/before-after-hook/pull/87

[2021-02-07 23:08] oscard0m commented on #362
Only concern of this mono-repo solution is what @gr2m pointed before regarding Octokit ecosystem inconsistency. Octokit is pointing to a multi-repo solution and in this case we are merging approaches in my opinion.

Besides this point, and considering the problem we are facing here, 👍🏽 I'm okay with this proposal:

---

👍🏽 Agree on this.

[2021-02-08 19:56] G-Rath commented on #362
I'm not sure how that's related to a package that is publishing and being used *purely* for typescript, but I have no mind in publishing an empty file :)

My preference would be to follow whatever DefinitelyTyped is doing, since they'll be in the same boat for this sort of thing :)

[2021-02-08 21:42] wolfy1339 commented on #362
If we take example from `@types/react` (or any other for that matter), the `main` field is set to `""` and the `types` field is set to `index.d.ts`

[2021-02-09 11:44] bogdanap commented on #229
Hopefully, this should be fixed by https://github.com/octokit/webhooks/pull/366

[2021-03-02 18:35] danielpza opened #395 "Typescript IssueCommentEvent.issue type is never"
Trying to use type `IssueCommentEvent` accessing `issue` property yields `never` type:

[code]

![image](https://user-images.githubusercontent.com/17787042/109697221-efc77a00-7b5b-11eb-9188-76c547706de7.png)

I would expect it to have some type, either Issue or some augmentation of it

Perhaps there's some conflict between the `Issue` type and specific type overwriting it it

[2021-03-02 19:00] G-Rath commented on #395
That type doesn't resolve to `never`:

![image](https://user-images.githubusercontent.com/3151613/109700394-8c3e5a80-7bf6-11eb-8808-817fb14970ac.png)

![image](https://user-images.githubusercontent.com/3151613/109699884-f60a3480-7bf5-11eb-9fa9-9244d37b20b9.png)

Could you provide some more information about your setup, such as your IDE and package versions?

[2021-03-02 19:20] danielpza commented on #395
I'm using emacs with lsp-mode, but I got a similar error using the cli:

[code]

[2021-03-02 19:25] G-Rath commented on #395
What does your `tsconfig` look like?

Could you also confirm if this happens if you use an static import? (i.e `import { IssueCommentEvent } from ''@octokit/webhooks-definitions/schema"`).

[2021-03-02 19:32] danielpza commented on #395
Yes it happens using static imports

yep, looking at the tsconfig I found I had disabled the strict flag, enabling it fixes the issue, no other relevant modification were done to the tsconfig:

[code]

To be clear changing to `strict: true` shows the correct type.

[2021-03-02 19:42] G-Rath commented on #395
Interesting, it's because of `strictNullChecks` - it seems that it doesn't like the fact that `closed_at` is `null` so somehow the type becomes type `never`.

Maybe it's because when that flag is false `null` is effectively removed, so it's seeing it as `never` instead? 🤔

Sadly there's not really a lot we can do as the type is correct and valid.
You might have luck over at the TypeScript repo get

[2021-03-02 19:44] danielpza commented on #395
I think I'm ok with enabling `strictNullChecks`, thanks for the help

[2021-03-02 19:44] #395 closed

[2021-03-03 23:08] wolfy1339 commented on #312
This is no longer relevant. There is now a common `Issue` schema

[2021-03-03 23:08] #312 closed

[2021-03-09 22:39] gr2m commented on #229
@G-Rath I assume this is resolved via #366?

[2021-03-09 22:39] #229 closed

[2021-03-09 22:42] wolfy1339 commented on #229
There still isn't an example for the `reopened_by_user` action. However with the schemas this isn't as much of an issue

[2021-03-10 01:58] wolfy1339 opened #398 "Problems with "extending" schemas in generated types"
I stumbled onto this while working on resolving https://github.com/octokit/app.js/issues/212
This should be easily reproduced, just use the type as one would normally do and TypeScript will reduce the type to `never`
[code]

[2021-03-10 02:13] G-Rath commented on #398
I'm guessing you've got `strictNullChecks` off - see https://github.com/octokit/webhooks/issues/395

[2021-03-10 02:16] wolfy1339 commented on #398
Ok. Well that's ackward :sweat_smile:...

Is this documented anywhere?

[2021-03-10 02:16] #398 closed

[2021-03-10 02:30] wolfy1339 commented on #398
That doesn't seem to fix it for me in VSCode. I added it to `tsconfig.json`, restarted the TS server and no change. I set VSCode to use the local TS install from the project
In the tests it seems to be fine though

[2021-03-20 12:18] tonyhallett opened #406 "Missing `check_suite_id` property of `WorkflowRun` interface in schema"
workflowrun has check_suite_url but in the paylod there is also check_suite_id

https://github.com/octokit/webhooks/blob/c7f0d67c07feac24862b294ac219afee5fe62b1b/schema.d.ts#L4927

[2021-03-20 13:00] wolfy1339 commented on #406
So you have an example payload that demonstrates this property?

[2021-03-20 22:29] tonyhallett commented on #406
Of course.  Rather than paste a payload that could come from anywhere you could use the action and see it in operation.

The action https://github.com/tonyhallett/ReleaseManager/tree/main/workflow_artifact_urls
uses the code in here https://github.com/tonyhallett/ReleaseManager/blob/main/src/getWorkflowArtifactDetails.ts

[code]

Here is a repo with a workflow with that payload that uses another a

[2021-03-20 22:31] tonyhallett commented on #406
Of couse the check_suite_id could be a temporary field....
Unfortunately the payload from the documentation is itself incomplete https://docs.github.com/en/developers/webhooks-and-events/webhook-events-and-payloads#workflow_run

[2021-03-21 00:03] wolfy1339 commented on #406
I think one of the issues here is that `@actions/github` does not use `@octokit/webhooks-definitions`, that will need to be fixed.
I am not really well versed in how github actions works, especially not it's internals.

@G-Rath @oscard0m Do you guys have any experience here that could help?

[2021-03-21 00:29] tonyhallett commented on #406
No it does not but somewhere it mentions this repo for definition files.  If this additional property does not apply to this repo I will close.

[2021-03-21 00:47] wolfy1339 commented on #406
I will leave this issue open, and when you get an example payload, share it here.
I can't add a property for which is not in the docs and for which is not in any example payload

[2021-03-21 15:15] Shigma opened #409 "PullRequestOpenedEvent.pull_request is never"
**What happened?**

![image](https://user-images.githubusercontent.com/33423008/111910158-33e2d600-8a9b-11eb-9e84-670110bd8b03.png)

**What did you expect to happen?**

non-never

**What the problem might be**

[2021-03-21 15:17] wolfy1339 commented on #409
This isn't a bug. If you look at the actual source code of the TS definitions, you'll see that it isn't `never`.

You will need to enable `strictNullChecks` in your `tsconfig.json`.

Duplicate of #395, #398

[2021-03-21 15:17] #409 closed

[2021-03-21 15:25] tonyhallett commented on #406
Logged from https://github.com/tonyhallett/DummyZipVsix/runs/2160219989?check_suite_focus=true
Using https://github.com/tonyhallett/DummyZipVsix/blob/master/.github/workflows/pullArtifacts.yaml
[code]

[code]

[2021-03-21 15:29] wolfy1339 commented on #406
Thank you for that!
I will proceed to add the example to the repository and update the schemas/types

[2021-03-21 15:36] wolfy1339 commented on #406
Can you confirm that the `check_suite_id` property is set for all `WorkflowRunEvent` webhooks?

[2021-03-21 15:39] tonyhallett commented on #406
I cannot.  Currently I am only responding to a pull request triggered workflow

[2021-03-21 16:20] tonyhallett commented on #406
Can you make it non optional ?
Given
https://docs.github.com/en/developers/webhooks-and-events/webhook-events-and-payloads#workflow_run

and https://docs.github.com/en/developers/webhooks-and-events/webhook-events-and-payloads#check_suite
[code]

Is it fair to say that if the url is not optional then so should be the id ?

[2021-03-21 16:25] tonyhallett commented on #406
or have PullRequestWorkflowRun ?

[2021-03-21 19:07] #406 closed

[2021-03-23 14:45] tonyhallett opened #414 "WorkflowRun interface conclusion non null values to be typed"
https://docs.github.com/en/developers/webhooks-and-events/webhook-events-and-payloads#workflow_run

Currently
https://github.com/octokit/webhooks/blob/6d075cf294414a54aa468ebe0d9763666b4f2529/schema.d.ts#L243

[code]

I think that there may need to be a Conclusion type enum / union ( no null ) and for there to be separate WorkflowRunCompleted ( conclusion : Conclusion ) WorkflowRunRequested ( conc

[2021-03-23 14:52] tonyhallett opened #415 "Make RepositoryDispatchOnDemandTestEvent generic"
https://github.com/octokit/webhooks/blob/6d075cf294414a54aa468ebe0d9763666b4f2529/schema.d.ts#L215

[code]

change to
[code]

[2021-03-23 15:01] wolfy1339 commented on #415
That is a good idea, however, the types are auto-generated from JSON Schemas, therefore we cannot use generics (to my knowledge)

Get Outlook for Android<https://aka.ms/AAb9ysg>

________________________________
From: Tony Hallett ***@***.***>
Sent: Tuesday, March 23, 2021 10:52:29 AM
To: octokit/webhooks ***@***.***>
Cc: Subscribed ***@***.***>
Subject: [octokit/webhooks] Make RepositoryDispatchO

[2021-03-23 15:40] #415 closed

[2021-03-23 19:53] #414 closed

[2021-03-31 01:09] rr-codes opened #427 "`installation.created` webhook event payload has incorrect type"
**What happened?**

The `installation.created` webhook event payload type is incorrect.

**What did you expect to happen?**

I expected the `requester` property to be of type `User | undefined`. Instead, it is declared as type `null | undefined`.

**What the problem might be**

The Github API documentation also doesn't acknowledge this property's existence. Also cross posted to https://github.com/

[2021-03-31 11:19] robcresswell opened #429 "Can't resolve reference during schema usage"
I'm still relatively unfamiliar with JSON schema so it's likely I'm misusing it. I'm trying to validate a payload against the webhook schema to verify its a valid `WebhookEvent`, but I get the following error:

[code]

Throw this into a TS file and execute and it should highlight the problem. You'll need `resolveJsonModule: true` in your `tsconfig.json`

[code]

I'd expect the schema to compile he

[2021-03-31 11:45] wolfy1339 commented on #429
That should not happen.

I do see one thing that may cause problems, we use a custom property named `tsAdditionalProperties`.

It doesn't seem that we use the compiled `schema.json` for testing.

You can see what we do for testing in this repo:
 https://www.github.com/octokit/webhooks/tree/master/bin%2Fvalidate-payload-examples.ts

I don't know all the intricacies of `ajv` and the schemas, however

[2021-04-01 14:19] robcresswell commented on #429
Hmm... thats a shame. I'll wait and see if someone else can chime in on whether I'm doing something wrong here.

[2021-04-01 18:57] G-Rath commented on #429
I know what this is 🤦

[2021-04-01 19:52] #429 closed

[2021-04-01 19:56] wolfy1339 commented on #429
Hey @robcresswell, we just pushed out a fix that should resolve this.

We also added some basic docs as to how to  validate the schema against payloads using ajv.

Please let us know if there's anything else.

[2021-04-01 20:01] #427 closed

[2021-04-06 09:06] robcresswell commented on #429
@wolfy1339 Thanks so much for the fast replies and fix! This seems to have worked perfectly.

[2021-04-12 22:56] wolfy1339 commented on #313
Closing since as per previous comment

[2021-04-12 22:56] #313 closed

[2021-04-15 14:18] wolfy1339 commented on #141
Is there any development on this issue?

[2021-04-15 16:09] gr2m commented on #141
I think the right thing to do here is to wait until we create `@octokit/events`, which would have all the events, and use `@octokit/webhooks` for only the webhooks logic

[2021-04-18 23:35] #362 closed

[2021-04-18 23:37] wolfy1339 opened #444 "deprecate `@octokit/webhooks-definitions`"
Maybe we could add a section "Upgrade from `@octokit/webhooks-definitions` to the README for some time`? Alternatively we could create an issue and link to that instead

_Originally posted by @gr2m in https://github.com/octokit/webhooks/pull/436#issuecomment-822071695_

[2021-04-19 23:57] gr2m opened #447 "📯 `@octokit/webhooks-definitions` is now deprecated"
Use one of the following 3 packages now, depending on what you need:

1. [`@octokit/webhooks-types`](https://github.com/octokit/webhooks/tree/master/payload-types#readme) - TypeScript definitions
1. [`@octokit/webhooks-schemas`](https://github.com/octokit/webhooks/tree/master/payload-schemas#readme) - JSON Schemas
1. [`@octokit/webhooks-examples`](https://github.com/octokit/webhooks/tree/master/pa

[2021-04-19 23:58] gr2m commented on #444
done, thanks.

I linked to this issue in the deprecation message. We can edit it to make it more useful:
https://github.com/octokit/webhooks/issues/447

[2021-04-19 23:58] #447 closed

[2021-04-20 00:21] #444 closed

[2021-04-22 01:07] wolfy1339 opened #453 "false-positives when validating webhooks payloads due to email addresses"
**What happened?**

When validating webhook payloads that I receive against the schemas, the email doesn't match up to the format.

The email that was tripping the validation was `41898282+github-actions[bot]@users.noreply.github.com`, I assume that any web flow commit from users might not validate.

**What did you expect to happen?**
For their not to be any validation error, since it is a valid e

[2021-04-22 01:11] wolfy1339 commented on #453
<details><summary>Webhook JSON payload</summary>

[code]
</details>

<details><summary>AJV error:</summary>

[code]
</details>

[2021-04-22 19:15] gr2m commented on #301
@wolfy1339 do you keep this updated? I feel like you added so many examples and schemas lately, I just want to check in on the status? If only a few are left, we could create separate follow up issues?

[2021-04-22 20:18] wolfy1339 commented on #301
This is up to date. I double checked just now

[2021-04-22 20:33] gr2m commented on #12
@wolfy1339 I think this can be closed? The schemas all seem to contain a URL in the description, e.g.

https://github.com/octokit/webhooks/blob/1b7297815883a6222b283259df562e511d9bcea5/payload-schemas/schemas/check_run/completed.schema.json#L9

[2021-04-22 20:40] wolfy1339 commented on #12
That would be the description for the `check_run` object within the payload.
They don't all contain links at their root to the docs

[2021-04-22 20:45] gr2m commented on #92
@wolfy1339 I think we can close this issue now?

[2021-04-22 20:47] wolfy1339 commented on #92
I think so. The properties table is now parsed and included in `index.json`, and we now have the schemas

[2021-04-22 22:07] gr2m commented on #266
Is this still relevant? @wolfy1339

[2021-04-22 22:22] wolfy1339 commented on #266
It still is relevant, but I don't think we need an issue for it.

We can worry about this whenever GitHub decides to publish schemas for Webhooks themselves along with the OpenAPI spec

[2021-04-22 22:27] #92 closed

[2021-04-22 22:30] #266 closed

[2021-04-27 01:24] wolfy1339 opened #461 "Add all event actions to `EventPayloadMap`"
**What’s missing?**

Instead of relying just on TS inference, all event actions should be added to `EventPayloadMap`

**Why?**

As I'm in the process of upgrading the version of `@octokit/webhooks` that Probot uses, and it's `Context` class uses the `implements EmitterWebhookEvent<E extends EmitterWebhookEventName>` syntax, and you can only implement an object type or intersection of object types

[2021-04-27 01:36] G-Rath commented on #461
The whole point of `EventPayloadMap` is that it holds mappings to *actual* event names, which `<event>.<action>` is not, so it would be a false representation to change that; it would also be undoing most of the work I did to get us away from having that map in favor of this more accurate one, and introduce complexity in other applications which'd be directly inverse to the simplification you'd ge

[2021-04-27 01:40] wolfy1339 commented on #461
This is the error message I'm getting
`A class can only implement an object type or intersection of object types with statically known members.`

This is how the class is defined:

[code]

[2021-04-27 01:46] wolfy1339 commented on #461
Using the old types they would pass through the payload with the transformation to `WebhookEvent`, and the class would be defined like this
[code]

[2021-04-27 01:47] G-Rath commented on #461
Where is `WebhookEvent` coming from? Our `WebhookEvent` isn't generic, and I can't find a reference it anywhere else.

Even better would be if you had a branch or repo I could look at :)

[2021-04-27 01:56] wolfy1339 commented on #461
Oh, it's `EmitterWebhookEvent`, I just imported it as `WebhookEvent`

This is the PR I'm working on: https://github.com/probot/probot/pull/1481

Though I just restarted it locally, with a fresh slate, and this is the current iteration: https://github.com/wolfy1339/probot/tree/update-octokit-webhooks

[2021-04-27 02:19] G-Rath commented on #461
Cheers, I'll have a look when I have the time.

I think based on the size of the app, and the use of generics you're going to have to live with some pain no matter which way you slice it; if you're wanting to get this landed, I can try and make some time to help - I can even do a call if that'd be useful.

[2021-04-27 16:24] #461 closed

[2021-05-02 10:33] WyriHaximus opened #470 "OpenAPI Spec"
**What’s missing?**

An OpenAPI spec YAML file for the payload-schemas.

**Why?**

Because it will bring having the webhook schema definitions in the official OpenAPI spec one step over: https://github.com/github/rest-api-description/issues/21

**Alternatives you tried**

Tried converting the JSON Schema file with several tools, but they all failed when getting into the second level of object prop

[2021-05-02 14:39] wolfy1339 commented on #470
I don't think adding a YAML version would be in the plans. If someone needs it they can make one by converting the JSON.

This would require substantial changes. We currently have separate schemas for each event's actions, and then we merge them together as one single file (with some slight modifications) during the build process.

Would you be willing to help out if we decide to integrate OpenAPI

[2021-05-02 16:24] wolfy1339 commented on #470
@G-Rath @gr2m Any thoughts?

[2021-05-02 17:03] WyriHaximus commented on #470
Tried that last night and got stuck at some point. If you have a way to get a correctly converted YAML I'm interested.

Looking at the code and spec that comes out of it both JSON Schema and OpenAPI seems very similar.

Was already looking at how the project is set up and works, so yes 👍 .

@gr2m is the one pointing me over here: https://github.com/github/rest-api-description/issues/21#issuecommen

[2021-05-02 17:32] wolfy1339 commented on #470
You're asking for an OpenAPI YAML version. I'm saying that we could provide a JSON version, but I'm unsure if we would provide a YAML version

The schemas, as they are currently, can almost be used in OpenAPI but there are some small differences.

I made a simple conversion, and it includes a YAML version here:  https://github.com/octokit/webhooks/tree/openapi
It really isn't the best, and isn't s

[2021-05-02 18:32] WyriHaximus commented on #470
Ah that way, don't mind at all if a JSON or a YAML, sorry for the confusion.

That might explain some of my confusion 😂 .

If and how can I help to improve it?

[2021-05-02 18:46] wolfy1339 commented on #470
A proper implementation without all the hackyness that can validate against the OpenAPI spec.
My conversion is a proof-of-concept and should only be used as a base

[2021-05-02 20:10] gr2m commented on #470
Both a YAML output and OpenAPI spec is out of scope of this repository. This is a community effort, not driven by any GitHub employees. If you'd like to build upon this repository and create an OpenAPI spec in a YAML format on it, you'd need to do it yourself.

But the core part that is hard to create and maintain are the JSON Schemas for all the webhook requests, and that's what @wolfy1339 and th

[2021-05-03 00:18] WyriHaximus commented on #470
vs.

Those two statements seem conflicting. My main intention is to bridge to time from now until GitHub will provide these schema's. I'm game for helping put, initial check uncovered I can't currently parse https://github.com/octokit/webhooks/blob/openapi/payload-schemas/openapi-schema.yml due to a missing request body (`user`). But if it's out of scope of this repository I also don't want to spe

[2021-05-03 00:40] wolfy1339 commented on #470
In https://github.com/octokit/webhooks/issues/136#issuecomment-667319074

There seemed to be a willingness in the past for changing to OpenAPI

Before GitHub published their own OpenAPI spec, there was `@octokit/routes` which was a community maintained OpenAPI spec for the REST api.

I just demonstrated a quick and easy solution to publishing an OpenAPI spec for those who need it. There's no need

[2021-05-06 17:18] wolfy1339 commented on #237
I believe this is a non-issue now. We have the JSON Schemas now where the `installation` key is optional

[2021-05-06 17:18] #237 closed

[2021-05-08 01:58] rr-codes opened #477 "`issue.body` property is specified as `string`, when it could also be `null`"
**Which Payload is failing/incomplete?**

`issues.opened`

The `issue.body` property is defined as `string`, but it should be `string | null`. The body property is `null` when the body is empty.

**Example of a Payload fixed**

(Modified from [here](https://github.com/octokit/webhooks/blob/master/payload-examples/api.github.com/issues/opened.payload.json))

[code]

[2021-05-08 02:02] wolfy1339 commented on #477
Thanks for the report. It's really appreciated

[2021-05-08 02:09] #477 closed

[2021-05-09 22:03] wolfy1339 commented on #25
I've got payload examples and the cache set up for enterprise versions.

Is there a way to get access to instances of GHES so we can get more payload examples?

How should the schemas be created for the versions? Do we re-use the ones for `.com` and make the necessary changes based on the payload examples we have?

[2021-05-10 15:55] wolfy1339 opened #481 "Schemas should be using `draft-2019-09` due to using other keywords along with `$ref`"
**What happened?**

Revisiting #420 and looking at the spec, I realized that theoretically we shouldn't have other keywords along with `$ref`.

**What did you expect to happen?**

For the schemas to respect the spec

**What the problem might be**

Use the `draft/2019-09` spec instead of `draft-07`

The differences between the versions can be found here: https://json-schema.org/draft/2019-09/releas

[2021-05-12 07:03] oscard0m commented on #481
What's the impact or potential impact of using different version? Queries failing for example?

[2021-05-12 07:34] G-Rath commented on #481
That's not actually a problem - the schema says that when validators deal with `$ref`:

   be ignored.

This means that our schemas are valid and conform to the spec since we're not using the properties along side `$ref` for validation - were using them as a form of metadata for other tools that consume the schemas to generate other files (i.e. types)

I really dont want to move to the latest sche

[2021-05-12 17:52] gr2m commented on #25
I'm looking into it

[2021-05-17 23:52] G-Rath commented on #481
@wolfy1339 are you happy to close this since it's not an issue?

[2021-05-18 02:43] #481 closed

[2021-05-29 20:56] renovate[bot] opened #493 "Action Required: Fix Renovate Configuration"
There is an error with this repository's Renovate configuration that needs to be fixed. As a precaution, Renovate will stop PRs until it is resolved.

Location: `package.json`
Error type: The renovate configuration file contains some invalid settings
Message: `Invalid configuration option: author, Invalid configuration option: files, Invalid configuration option: keywords, Invalid configuration op

[2021-05-30 05:04] #493 closed

[2021-06-04 23:54] #25 closed

[2021-06-06 22:32] gr2m commented on #141
For the record, I just needed to know what the event payload looks like for the `schedule` event, and it just has the `schedule` key

[code]

[2021-06-18 21:07] rr-codes opened #508 "`IssuesTransferredEvent` payload is missing `changes` property"
The `IssuesTransferredEvent` payload type is missing the `changes` property. The interface should be
[code]

[2021-06-18 21:19] wolfy1339 commented on #508
It seems that the following `issues.opened` event when you transer an issue, contains a `changes` object which contains the old information about the issue and repo

[2021-06-18 22:20] #508 closed

[2021-06-19 00:28] gr2m opened #510 "`sender` key in webhooks"
The `sender` key is not present e.g. in `CheckRunCreatedEvent`:
https://github.com/octokit/webhooks/blob/ced7888a863b87569035cc9b94d62a46945577b0/payload-types/schema.d.ts#L813-L917

The example for the `check_run.created` event has the `"sender"` key
https://github.com/octokit/webhooks/blob/ced7888a863b87569035cc9b94d62a46945577b0/payload-examples/api.github.com/check_run/created.payload.json#L29

[2021-06-19 02:06] wolfy1339 commented on #510
It is present for that event, I double checked. If it wouldn't be, the tests wouldn't pass, as the payload contains the sender.
The error from TS is a bit misleading, but it is correct. The `sender` property is not present in the union of ALL events

Here is a list of events (schema `$id`s) which do not have a sender property:
* `secret_scanning_alert$created` (Missing example payload)
* `security

[2021-06-20 09:58] divyenduz opened #511 "The type of issue on IssuesOpenedEvent is never"
**What happened?**

![CleanShot 2021-06-20 at 11 56 25](https://user-images.githubusercontent.com/746482/122669636-9775c000-d1be-11eb-842a-a3055c910b51.png)

**What did you expect to happen?**

It should be `Issue & { state: "open"; }`

**What the problem might be**

I found this https://github.com/octokit/webhooks/issues/395 but I am using strict, strictNullChecks true in tsconfig.

Removing `clo

[2021-06-20 10:01] divyenduz commented on #511
Ah, never mind. Restarting LSP after enabling strict check fixed it.

[2021-06-20 10:01] #511 closed

[2021-06-23 17:42] gr2m commented on #510
I got feedback on that: `security_advisory` does not have a sender key because there is no actor. And there are no plans at this point to a new type of actor for GitHub itself. So we will have to live with the fact that `sender` will be conditional.

[2021-06-23 17:42] #510 closed

[2021-06-30 03:37] wolfy1339 opened #519 "refactor: use `github-enterprise-server-versions` instead of hardcoding GHES versions"
Remove hard-coded versions of GHES versions from the code in order to improve maintainability, and bring this package in line with `@octokit/openapi-types`.

Currently, we generate types for all GHES versions greater than `2.21`, and the minimum supported version of GHES is `2.22`

The versions are only hard-coded in one place in the code

https://github.com/octokit/webhooks/blob/612c853375c44912e

[2021-07-18 19:54] gr2m opened #526 "descriptions in push event types are swapped"
`modified`/`removed` need to be swapped

https://github.com/octokit/webhooks/blob/3c7f1d9ffe4fe23724e0a87d24326d3c683e586d/payload-types/schema.d.ts#L4934-L4941

[2021-07-18 21:18] #526 closed

[2021-08-18 15:25] npalm opened #540 "Missing status `queued` for new added typ workflow_job"
**What happened?**
The status `queued` for the new introduced event `workflow_job` in PR #534 is missing.

**What the problem might be**

Add the thet status `queued` to the event.

[2021-08-18 15:42] pje commented on #540
The three possible status values are `queued`, `in_progress`, `completed`.

[2021-08-18 21:37] wolfy1339 commented on #540
Thanks for the report! Would you like to send a pull request to add the missing value?

[2021-08-30 08:52] #315 closed

[2021-09-02 14:44] pawelmitka opened #550 "List of possible events in webhooks is not available"
**What’s missing?**
There is `WebhookEventMap` type that contains mapping of events to their spec. There is also `WebhookEventName` which is a string literal type containing all possible Webhook Events that can be checked during ts compilation. However, there is no list of all available events, e.g.: as array of strings: `const WebhookEventNames=[...] as const;`

**Why?**
This is needed to provide

[2021-09-02 15:45] wolfy1339 commented on #550
I believe what you are looking for is already generated here: https://github.com/octokit/webhooks.js/blob/master/src/generated/webhook-names.ts

[2021-09-02 18:47] pawelmitka commented on #550
@wolfy1339 yes, this is what I was looking for. I think, it just needs to be exported from module: https://github.com/octokit/webhooks.js/blob/6da50b0f92e8a9b619a43ced7f07c73ea64bc3df/src/index.ts#L67 Do I understand correctly?

[2021-09-02 20:04] wolfy1339 commented on #550
That's exactly it

[2021-09-03 19:04] #550 closed

[2021-09-10 17:38] JamieMagee opened #555 "Undocumented `deployment_review` event"
**What happened?**

All the payload types have `deployment_review` as a valid webhook event:

https://github.com/octokit/webhooks/blob/c9f8ee7701fdade5d65eabb23ee5a7fdc986871e/payload-types/schema.d.ts#L176

But I can't seem to find any documentation about it on [the public webhook documentation](https://docs.github.com/en/developers/webhooks-and-events/webhooks/webhook-events-and-payloads) There

[2021-09-10 18:33] wolfy1339 commented on #555
I believe the event is related to these docs: https://docs.github.com/en/actions/managing-workflow-runs/reviewing-deployments

Other than that, I have no idea about the event itself.
However, I have it recorded in a webhook payload for the `installation.suspeded` event that I added in #469

[2021-09-12 22:56] MuIsTheTruth commented on #540
I am having trouble understanding. I am very confused and disoriented.

[2021-09-12 22:59] MuIsTheTruth commented on #555
I am very confused. As far as I can remember it all started with an extreme case of deja vu that lasted hours. Not sure whats happening.

[2021-09-12 23:00] MuIsTheTruth commented on #555
Several key things have been sticking out to me.

[2021-09-12 23:02] MuIsTheTruth commented on #555
There is some anomaly in my area. I was led here on purpose. that I know. I can't remember

[2021-09-12 23:03] MuIsTheTruth commented on #555
I need help

[2021-09-13 02:26] wolfy1339 commented on #540
@npalm Can you share a payload example with the `queued` status? I am not sure where exactly it is missing from

[2021-09-14 11:38] npalm commented on #540
Sorry, but right now I am not able to share. I will be back in the office in 1.5 week and will share a sample.

[2021-09-14 11:40] wolfy1339 commented on #540
No problem 👍

[2021-09-15 23:21] wolfy1339 commented on #540
I think I have a payload example/schema in #558 that could close this issue. Care to take a look?

[2021-09-27 09:35] rwxdash opened #566 "Missing `in_progress` action for `workflow_job` event"
**What happened?**

`workflow_job.started` isn't really triggering an event. Instead, the documentation mentions `workflow_job.in_progress`. Should use either `in_progress` instead of `started` or add `in_progress`. Either way, `in_progress` event should be included.

[2021-10-06 14:48] #540 closed

[2021-10-06 15:04] wolfy1339 opened #573 "Extract common schema script broken"
[code]

[code]

[2021-10-06 16:52] #566 closed

[2021-10-10 18:55] wolfy1339 commented on #555
After further testing around with webhoks, this seems to be an installation event and not a webhook event.

[2021-10-11 17:57] wolfy1339 opened #577 "`issues.closed`"

[2021-10-11 17:57] #577 closed, assigned to nobody

[2021-11-21 11:51] jesse1478 opened #591 "I need a lot of things that I don’t know about"
**How do you use Octokit Webhooks?**

**What do you love about it?**

**How did you learn about it?**

[2021-11-21 15:01] #591 closed

[2021-11-23 12:37] n-sviridenko opened #593 "pull_request_review_thread types are missing"
Here's what we hacked, please add it to the repo. Thanks!

[code]

[2021-11-23 12:43] wolfy1339 commented on #593
Can you comment with an example payload and the version of `@octokit/webhooks-types` you are using.

[2021-11-23 12:55] n-sviridenko commented on #593
The `unsersolved` one is same except the `action`:

[code]

[2021-11-23 13:41] wolfy1339 commented on #593
Thanks! I will take a look to add these in.

[2021-11-23 21:45] wolfy1339 commented on #593
One issue is that this event isn't documented on the GitHub docs for webhooks yet.

[2021-11-23 22:06] #593 closed

[2022-01-03 20:34] wolfy1339 commented on #573
This seems to have resolved somewhat, It now only happens sporadically

[2022-01-03 20:38] G-Rath commented on #573
Huh I didn't see this issue originally being created - that means we've got something that isn't following our standard naming conventions.

In the original error you posted, it's got `undefined` meaning a schema is missing (iirc) `title`.

[2022-01-03 20:42] G-Rath commented on #573
@wolfy1339 let me know if you'd like me to look into this properly - it's not a really bug as I always expected the tool wouldn't always be able to guess at interface names, but it might be something we can improve.

[2022-01-03 21:27] wolfy1339 commented on #573
It should fallback to `$id` if `title` isn't present.

I made a simple script to check, and no schema is missing a `title` of `$id` property
<details>

[code]
</details>

No changes were made to schema title, or id, or new schemas when this issue was created.

[2022-01-03 21:31] G-Rath commented on #573
@wolfy1339 do you have any reproductions on hand? It works fine for me running `./bin/extract-common-schema.ts DeploymentCreatedEvent.deployment Deployment` on `HEAD~1`.

[2022-01-03 21:33] wolfy1339 commented on #573
not recently

[2022-01-03 21:34] G-Rath commented on #573
Given that, are you ok if we close this and we can re-open if you come across it again?

[2022-01-03 21:35] wolfy1339 commented on #573
That sounds good.

[2022-01-03 21:35] #573 closed

[2022-02-13 18:11] JamieMagee opened #608 "`auto_merge` property is incorrectly defined"
**What happened?**

The `auto_merge` property[^1] is incorrectly defined as `null`

**What did you expect to happen?**

It should be defined as

[code]

I actually can't find any good documentation on this, other than the rest-api-description[^2]

**What the problem might be**

The GitHub webhook documentation does not document this as anything other than `null`, so any update scripts will not be

[2022-03-10 08:34] adriandersen opened #611 ""repository_vulnerability_alert.reopen" missing"
https://github.blog/changelog/2022-03-07-reopen-dismissed-dependabot-alerts/

**What’s missing?**

Webhook event for the new repository_vulnerability_alert.reopen is not yet added

**Why?**

As this functionality is now added to the dependabot webhook, it should be added here as well :)

[2022-03-10 22:09] wolfy1339 commented on #611
Thanks for the report, I will look into this

[2022-03-10 22:49] #608 closed

[2022-03-10 22:49] #611 closed

[2022-03-25 10:17] ivancea opened #620 "InstallationUnsuspendEvent with property "installation" with type "never""
**What happened?**

Using NPM package `@octokit/webhook-types`, the type InstallationUnsuspendEvent has a problem with the member `installation`, that results to `never`. Example:

[code]

The error:
[code]

Using TypeScript 4.5.5.

**What did you expect to happen?**

The property `installation` should be of type Installation instead of `never`.

[2022-03-25 15:03] oscard0m commented on #620
Hi @ivancea!

Thanks for opening this issue and providing such a detailed explanation.

I tried to reproduce the issue in TS Playground but apparently, the type is properly inferred there. Am I missing something in that example to reproduce your issue?

https://www.typescriptlang.org/play?ts=4.5.5#code/JYWwDg9gTgLgBAbwJIDsDOMCGAbbmbAQoCq6ArmmAKYoAmAogG40wC+cAZlBCHAEQABCAGMYEANbAYAegDuVAEYALCBLQBaG

[2022-03-25 15:11] ivancea commented on #620
Hum, I tried a minimal example with my project config and it failed.

I'll check it on monday and try to find if there's some config or import making it fail, and comment the results here.

Thanks!

[2022-03-25 18:26] oscard0m commented on #620
Sure! Let us know the details. Also, let us know which version of `@octokit/webhook-types` are you using.

[2022-03-26 23:10] wolfy1339 commented on #620
Disabling `strict` and `strictNullChecks`, I can reproduce the problem.

As seen in [this TS Playground](https://www.typescriptlang.org/play?strict=false&strictNullChecks=false&ts=4.5.5#code/JYWwDg9gTgLgBAbwJIDsDOMCGAbbmbAQoCq6ArmmAKYoAmAogG40wC+cAZlBCHAEQABCAGMYEANbAYAegDuVAEYALCBLQBaGAE9qaPgG4AUIeFEMcKsxTwAvInaY0cVBhx4CRUmgrU6TFkam6PDAwW74hChItABccChkIApUUHB2liwAdKGuuBFE2bRGQA), disabling either

[2022-03-26 23:10] #620 closed

[2022-03-27 10:10] oscard0m commented on #620
Nice catch!

[2022-04-11 20:11] wolfy1339 opened #624 "Webhooks update workflow failing"
**What happened?**

The webhook workflow fails because the HTTP request returns a 403 Forbidden

https://github.com/octokit/webhooks/runs/5979085093?check_suite_focus=true#step:6:12

**What did you expect to happen?**

The HTTP request shouldn't fail.

**What the problem might be**

GitHub changed something on their end and it's blocking us from scraping the docs

[2022-06-08 16:26] Caeleron opened #629 "WorkflowJobCompletedEvent.workflow_job.completed has incorrect schema"
https://github.com/octokit/webhooks/blob/c62d02f072fdc542d751e0761121a729863c2c23/payload-schemas/api.github.com/common/workflow-step-completed.schema.json#L18

Relevant schema:

[code]

It is possible to have a conclusion of `cancelled` in the completed field for this event; however, the current types only allow for  "success" or "failure".

[2022-06-08 18:44] wolfy1339 commented on #629
Thanks for letting us know.

Next time, it would be appreciated if you could share an example of the payload you received.

This will be fixed in the next batch of updates

[2022-06-08 19:22] Caeleron commented on #629
Here's the relevant part of the payloads I noticed for posterity. Sorry about that. For context, the first one was a job that was cancelled after being queued but before starting. The second was a job that depends on the first that was never queued at all.
[code]
[code]

[2022-06-08 20:31] wolfy1339 commented on #624
Things are working again

[2022-06-08 20:31] #624 closed

[2022-06-13 20:01] gr2m opened #639 "When a label is deleted, all `issues.unlabeled` events triggered do not include the `label` key"
**What happened?**

There is an edge case when the `issues.unlabeled` event payload does not include the `label` key.

1. Create a new label "test"
2. Assign the "test" label to an issue
3. Delete the label "test"

The resulting `issues.unlabeled` event does not contain the `label` key.

**What did you expect to happen?**

The schema for `issues.unlabeled` should flag the `label` key as optional,

[2022-06-13 20:11] gr2m commented on #639
nevermind, it's already correctly typed, I just missed it:
https://github.com/octokit/webhooks/blob/7639226ea80c6650059270bb2870ed654d0c0f9a/payload-schemas/api.github.com/issues/unlabeled.schema.json#L5

[2022-06-13 20:11] #639 closed

[2022-06-15 23:37] gr2m opened #642 "Automated update PRs: reduce noise of cache-only updates"
The HTML of docs seems to update much more often then it used to. It would be a good time invest to reduce the noise resulting from that. We could normalize the HTML code before caching it, or avoid cache-only update commits, see
https://github.com/octokit/webhooks/pull/641

[2022-06-15 23:38] gr2m opened #643 "Document how we get from a new webhook event to a new schema and to new types"
Follow up to https://github.com/octokit/webhooks/pull/641#discussion_r898325831

[2022-06-16 00:51] wolfy1339 commented on #642
How would you guys feel about removing all classes from the cached HTML except for classes for actively look for?

[code]

[2022-06-16 02:33] wolfy1339 commented on #643
Here's a rough idea of how to make schemas

## Creating a new schema

Schemas are manually created using example payloads for webhook events.
- Create a new folder for the event in `payload-schemas/api.github.com`, if it doesn't already exist
- Create a new empty JSON file named `<action>.schema.json` if the event has an `action` property, otherwise name it `event.schema.json`
- Set the `$schema`

[2022-06-16 03:01] gr2m commented on #643
This is great! Would you like to send a pull request for the contributing file?

[2022-06-21 23:37] #643 closed

[2022-06-24 11:07] k2bd opened #649 "Include event source/type as a property"
**What’s missing?**

It would be nice if the event type indicating its source was included explicitly on events themselves, for example:

[code]

**Why?**

This would enable building an event discriminator that is both simple and robust to future extensions to the event spec.

**Alternatives you tried**

I have tried discriminating events by their structure, but this requires relying on assumption

[2022-06-24 14:10] wolfy1339 commented on #649
I don't really understand why you would need that.
The event is in the headers, and you specify which event to listen for in the handler function

[2022-06-24 14:16] timrogers commented on #649
@k2bd Is this feedback on the webhooks that GitHub sends, or is it feedback on this project, or something else? I just want to make sure that I understand what you're looking for 😊

[2022-06-24 14:18] k2bd commented on #649
My apologies, I missed the `X-GitHub-Event` header in the webhook spec docs, that fills my need just fine and you're right there's no need for a change in the event structure with that.

Thank you very much!

[2022-06-24 14:18] #649 closed

[2022-06-24 14:18] timrogers commented on #519
What is `github-enterprise-server-versions`? 😊

[2022-06-24 14:20] wolfy1339 commented on #519
It's a small npm package that @gr2m wrote that fetches the latest supported versions of GHES from the GitHub docs, and returns them for you

[2022-06-25 18:46] oscard0m commented on #642
I think is a good idea!
Excited to get rid of these querySelector logic [when webhook schemas are public](https://github.com/octokit/webhooks/pull/641#discussion_r899392903)

[2022-07-18 00:07] wolfy1339 commented on #453
I've done more research on this and the email addresses do not respect the spec [RFC 5322 Section 3.4](https://datatracker.ietf.org/doc/html/rfc5322#section-3.4)

The reason is because `[` and `]` aren't valid characters unless the email address is quoted.

Example invalid email:
[code]

Example of a fix for that email address:
[code]

[2022-07-19 09:34] oscard0m commented on #453
Who should be responsible for escaping these invalid characters? `@octokit/webhooks` or `ajv-formats` library?

[2022-07-19 09:59] timrogers commented on #453
Could we just change the change and remove `format: "email"` if the email addresses don't align with the email RFC? I guess that should fix this.

[2022-07-19 10:02] timrogers commented on #453
According to [this page](https://swagger.io/docs/specification/data-models/data-types/), `format: "email"` isn't strictly part of the OpenAPI specification - formats are user-defined.

[2022-07-19 14:18] timrogers commented on #453
Ah, apologies - I assumed we were using OpenAPI here! I didn't imagine we had a different schema type, but I should have checked.

Nevertheless, I think we should probably remove the `format: "email"` declaration because, factually, the emails GitHub returns aren't RFC-compliant. That isn't likely to change any time soon as those email addresses are stored on many commits.

[2022-07-19 14:45] wolfy1339 commented on #453
We wouldn't be removing any fields from the schema, only the `format`. Instead of validating against a specific format, we would only validate that it is a `string`

[2022-07-21 10:17] #453 closed

[2022-08-09 18:59] LightningStairs opened #688 "Changes object can be undefined"
We we imported the BranchProtectionRuleEditedEvent recently and we came across an issue. The changes object can be undefined but the Type definition doesn't allow for it to be undefined. To replicate this, go to a repo's branch protection settings and it save without changing any of the settings. This fires off a BranchProtectionRuleEditedEvent without the changes object.

https://github.com/octok

[2022-08-09 19:09] LightningStairs opened #689 "Changes object has 19 possible keys but type is defined with only 3 of them"
The `changes` object type is defined to have 3 possible keys: `authorized_actors_only`, `authorized_actor_names`, and `required_status_checks`. But it can have several others as well:

[code]

Because of how this type is defined it is only possible to test cases when `authorized_actors_only`, `authorized_actor_names`, and `required_status_checks` change.

https://github.com/octokit/webhooks/blob/e

[2022-08-09 19:12] wolfy1339 commented on #689
Can you confirm wether this is for GitHub.com and not GitHub.AE or GitHub Enterprise?
Please provide an example payload with those keys

[2022-08-09 19:14] wolfy1339 commented on #688
Can you confirm wether this is for GitHub.com and not GitHub.AE or GitHub Enterprise?
Please provide an example payload that demonstrates this behaviour

[2022-08-09 20:43] #688 closed

[2022-08-10 23:44] JamieMagee commented on #689
The `required_conversation_resolution_level` now has a different type in the `BranchProtectionRule`

https://github.com/octokit/webhooks/blob/5d5bb3ca635b7224a591898321d1a5bad67af3b2/payload-types/schema.d.ts#L440

and `BranchProtectionRuleEditedEvent`

https://github.com/octokit/webhooks/blob/5d5bb3ca635b7224a591898321d1a5bad67af3b2/payload-types/schema.d.ts#L824-L826

[2022-08-11 00:04] wolfy1339 commented on #689
I think it might be easiest to introduce a new common schema for each rule type.

* `BranchProtectionRuleBinary` - rules where only boolean values are used
* `BranchProtectionRuleMultiLevel` - rules where you can select one of `off`, `non_admins`, or `everyone`
* `BranchProtectionRuleArray` - rules where an array of strings is expected, used for actor and build rules

[2022-08-11 15:37] JamieMagee commented on #689
That sounds reasonable, and it's effectively what I did in the .NET version. I think you will also need a `BranchProtectionRuleNumber` as well though:

https://github.com/octokit/webhooks/blob/5d5bb3ca635b7224a591898321d1a5bad67af3b2/payload-types/schema.d.ts#L421

[2022-09-15 17:16] bcomnes opened #707 "InstallationSuspendEvent installation property is typed to 'never'"
**What happened?**

The `InstallationSuspendEvent` is supposed to have an `installation` property but the way it is type narrowed, the property is typed to `never`.

**What did you expect to happen?**

The `installation` property should have the `installation` property but narrowed such that `suspended_by` and `suspended_at` are `null`.

**What the problem might be**

Something having to do with t

[2022-09-15 18:34] wolfy1339 commented on #707
Can you share your `tsconfig.json`?

Cases like this is when you don't have `strict` enabled in your tsconfig

[2022-09-15 18:41] bcomnes commented on #707
Yeah

[code]

[2022-09-15 18:49] wolfy1339 commented on #707
We require that at least `strictNullChecks` be enabled

[2022-09-15 18:50] #707 closed

[2022-09-16 01:10] wolfy1339 opened #708 "Document that `strictNullChecks` is required to be enabled"
Many issues have been opened due to the fact that the types resolve to `never`. That is because they don't have `strictNullChecks` enabled.

In light of that, I think we should document the fact that this option is required in order to use the types from this repository

[2022-09-16 17:15] wolfy1339 commented on #708
This should also be documented on all downstream octokit packages that use the types from this repo

[2022-10-06 23:35] #708 closed

[2022-10-25 21:19] gr2m commented on #470
fyi as of v2.1.0, GitHub's OpenAPI spec includes webhooks. I didn't look into it in detail, just sharing the announcement

https://github.com/github/rest-api-description/releases/tag/v2.1.0

[2022-10-25 21:21] wolfy1339 commented on #470
:tada: That's amazing news!

How should we handle the transition in this repo, since there's now official openapi spec?

[2022-10-25 21:28] gr2m commented on #470
From my experience with transitioning https://github.com/octokit/routes where we generated an OpenAPI Spec to github.com/octokit/openapi where we utilize GitHub's OpenAPI spec, there will be some discrepancies, I'm sure the first version of the webhooks in the OpenAPI spec will lack some things that we have in our specs.

I'd start out by creating a setup where we load GitHub's new OpenAPI spec an

[2022-10-26 01:26] wolfy1339 commented on #519
As GitHub has published it's own OpenAPI spec for webhooks, efforts will be concentrated on the current community spec and transitioning to the official spec

[2022-10-26 01:26] #519 closed

[2022-10-26 01:26] wolfy1339 commented on #257
As GitHub has published it's own OpenAPI spec for webhooks, efforts will be concentrated on the current community spec and transitioning to the official spec

[2022-10-26 01:26] #257 closed

[2022-10-26 01:43] wolfy1339 commented on #689
I believe all the remaining possible keys have been added

[2022-10-26 01:43] #689 closed

[2022-10-26 22:02] WyriHaximus commented on #470
This is awesome news! Will transition my code to it, @wolfy1339 thank you for the branch, it has helped me a lot so far <3!

[2022-11-16 03:04] wolfy1339 commented on #470
I created a script to convert from the OpenAPI format to JSON schema. This should help for comparing the 2 side-by-side, and finding inaccuracies

[code]

[2022-11-17 23:33] wolfy1339 commented on #470
The following is a list of things that is currently hindering the ability to use the OpenAPI spec for webhooks
- [ ] https://github.com/github/rest-api-description/issues/1751
- [ ] https://github.com/github/rest-api-description/issues/1865
- [ ] https://github.com/drwpow/openapi-typescript/issues/994

[2022-11-18 19:01] gr2m commented on #470
Amazing work @wolfy1339!!!

[2022-11-29 14:49] timomeh opened #743 "[BUG]: dependabot_alert events fail to verify"
### What happened?

## Observed Behavior

I noticed that `webhooks.verify()` returns false for dependabot_alert events, but only for this event type. All other events verify successfully.

To reproduce, I created a small script:

[code]

## Expected Behavior

Given that other events verify successfully, I would've expected that the dependabot_alert event also verifies successfully.

## Note

I'm u

[2022-11-29 14:54] wolfy1339 commented on #743
This isn't the right repository for issues with the `@octokit/webhooks` npm package. The proper repo would be https://github.com/octokit/webhooks.js

@gr2m @timrogers Can this issue be transferred to the proper repo.

***

That is odd. There's nothing printed to the console at all?
Would you mind sharing the payload you received that fails the validation?

[2022-11-29 15:06] timomeh commented on #743
@wolfy1339 Ah, sorry for the wrong repo – too many tabs open simultaneously.

Looking at the source of the `@octokit/webhooks` npm package, the `verify` call doesn't include any debug logging. The verfication itself is in the `@octokit/webhooks-methods` package, which also doesn't seem to include any debug logging.

Here's the output of the failing payload. It's a private repo, so I redacted some

[2022-11-29 15:36] wolfy1339 commented on #743
Thanks! That will do the trick.
I'll look into it later

[2022-11-29 17:40] timomeh commented on #743
Just to give as much info as possible: the `dependabot_alert.dismissed` event also fails the verification

[code]